<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Topsis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">
        <h1 class="heading">Topsis Generator</h1>
        <form enctype="multipart/form-data" name="ArgumentForm" action="." method="post">
            <div class="form-group">
                <label>File Name:</label>
                <input class="form-controls" type="file" name="filename" required placeholder="Browse file.." />
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <label>Weights:</label>
                <input class="form-control" type="text" name="weight" required />
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <label>Impacts:</label>
                <input class="form-control" type="text" name="impact" required />
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <label>Email Id:</label>
                <input class="form-control" type="email" name="email" required placeholder="abc@gmail.com" />
                <span class="Error"></span>
            </div>

            <div class="form-group">
                <input class="btn btn-primary btn-block" type="submit" value="Submit" />
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>